{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="title">TicTacToe</h1>

        <div class="alert" role="alert" id="winner"></div>

        <table class="table" data-finished="false">
            <tr class="first-row">
                <td class="col-md-4 align-middle text-center" data-x=0 data-y=0 data-unit=""></td>
                <td class="col-md-4 align-middle text-center middle-table-td" data-x=1 data-y=0 data-unit=""></td>
                <td class="col-md-4 align-middle text-center" data-x=2 data-y=0 data-unit=""></td>
            </tr>
            <tr>
                <td class="col-md-4 align-middle text-center" data-x=0 data-y=1 data-unit=""></td>
                <td class="col-md-4 align-middle text-center middle-table-td" data-x=1 data-y=1 data-unit=""></td>
                <td class="col-md-4 align-middle text-center" data-x=2 data-y=1 data-unit=""></td>
            </tr>
            <tr>
                <td class="col-md-4 align-middle text-center" data-x=0 data-y=2 data-unit=""></td>
                <td class="col-md-4 align-middle text-center middle-table-td" data-x=1 data-y=2 data-unit=""></td>
                <td class="col-md-4 align-middle text-center" data-x=2 data-y=2 data-unit=""></td>
            </tr>
        </table>
        <button class="btn btn-block btn-dark reset">Reset</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
